<div ng-controller="ProductController">
    <h2>Manage Products</h2>

    <label for="lsProductName">Live search (By product name):</label>
    <input id="lsProductName" name="lsProductName" type="text" placeholder="search..." class="form-control" [(ngModel)]="liveSearch" (ngModelChange)="watchLiveSearch($event)"/>
    <hr>
    <h4 class="header header-small grey">Product list
        <a class="btn btn-default" (click)="refreshProductsList()">Refresh</a>
        <a class="btn btn-default" (click)="createNewProduct()">New</a></h4>

        <div class="container row">
            <div class="col-md-4">
                <ul class="thumbnails">
                    <li *ngFor="let product of allProducts">
                        <a (click)="editProduct(product.productId)" > {{product.productName}}</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <product-edit></product-edit>
            </div>
        </div>
</div>

