<div class="col-md-6">
    <!--<form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">-->
    <form name="editProductForm" class="form-horizontal" role="form" *ngIf="active" #editProductForm="ngForm">
        <div class="form-group">
            <label class="control-label col-sm-4" for="productName">Product name:</label>
            <div class="col-sm-8">
                <input focus id="productName" name="productName" class="form-control" required type="text"
                       placeholder="Product name..." [(ngModel)]="product.productName" ng-maxlength="100" #productName="ngModel"/>
            </div>
            <div *ngIf="!(productName.valid || productName.pristine)"
                 class="alert alert-danger">
                Product name is required
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="productType">Product type:</label>
            <div class="col-sm-8">
                <select id="productType" name="productType" class="form-control" required [(ngModel)]="product.productTypeId">
                    <option *ngFor="let opt of productTypes" [value]="opt.productTypeId">{{opt.name}}</option>
                </select>
            </div>
            <div *ngIf="!(productName.valid || productName.pristine)"
                 class="alert alert-danger col-sm-offset-4 col-sm-6"
                 style="margin-top: 5px">Product type is required</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="description">Description:</label>
            <div class="col-sm-8">
                <input id="description" name="description" class="form-control" type="text" placeholder="Description..." [(ngModel)]="product.description"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="stock">Stock:</label>
            <div class="col-sm-8">
                <input id="stock" name="stock" class="form-control" type="number" placeholder="Stock..." [(ngModel)]="product.stock"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="price">Price:</label>
            <div class="col-sm-8">
                <input id="price" name="price" class="form-control" type="number" placeholder="Price..." [(ngModel)]="product.price"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="CreatedDate">Created date:</label>
            <div class="col-sm-8">
                <input id="CreatedDate" name="createdDate" disabled type="datetime" class="form-control" [(ngModel)]="product.createdDate" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" [disabled]="!editProductForm.form.valid" class="btn btn-primary" (click)="updateProduct(product)">Save</button>
                <button type="button" (click)="deleteProduct(product)" class="btn btn-default">Delete</button>
            </div>
        </div>
    </form>
</div>