<h1>Product types</h1>
<table class="table table-condensed table-hover " [hidden]="loading">
    <tr class="panel-title">
        <!--Buttons column-->
        <th style="width: 100px;">
            <!--Add + Cancel-->
            <div class="btn-toolbar"><i class="btn glyphicon glyphicon-plus" (click)="toggleAddMode()" title="Add" *ngIf="!addMode"></i></div>
            <div class="btn-toolbar"><i class="btn glyphicon glyphicon-minus" (click)="toggleAddMode()" title="Cancel" *ngIf="addMode"></i></div>
        </th>
        <th style="vertical-align: middle">Name</th>
        <th style="vertical-align: middle">Created Date</th>
    </tr>
    <tr *ngIf="addMode" style="background: rgb(251, 244, 222)">
        <td>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <i class="btn glyphicon glyphicon-floppy-disk" (click)="saveProductType()" title="Create" ></i>
                    <i class="btn glyphicon glyphicon-remove" (click)="toggleAddMode()" title="Cancel"></i>
                </div>
            </div>
        </td>
        <td>
            <form name="addForm">
                <input type="text" name="newProductTypeName" [(ngModel)]="newItem.name" class="form-control" minlength="1" required
                                    placeholder="Product type..." (keydown)="saveOnEnter(pType, $event)"/>
            </form>
        </td>
        <td>
            <form>
                <input type="date" name="newProductTypeCreatedDate" [disabled] = true [(ngModel)]="newItem.createdDate" class="form-control"/>
            </form>
        </td>
    </tr>
    <!--Content-->
    <tr *ngFor="let pType of allProductTypes">
        <!--Buttons column-->
        <td>
            <!--Edit + Delete-->
            <div class="btn-toolbar" *ngIf="pType.editMode == null || pType.editMode == false">
                <div class="btn-group">
                    <i class="btn glyphicon glyphicon-edit" (click)="toggleEditMode(pType)" title="Edit"></i>
                    <i class="btn glyphicon glyphicon-trash" (click)="deleteProductType(pType)" title="Delete" data-toggle="modal"></i>
                </div>
            </div>
            <div class="btn-toolbar" *ngIf="pType.editMode">
                <div class="btn-group">
                    <button class="btn glyphicon glyphicon-floppy-disk" (click)="updateProductType(editForm,pType)" title="Save"
                            [disabled]="!editForm.form.valid"></button>
                    <button class="btn glyphicon glyphicon-remove" (click)="toggleEditMode(pType)" title="Cancel"></button>
                </div>
            </div>
        </td>
        <td style="vertical-align: middle">
                <span *ngIf="pType.editMode == null || pType.editMode == false" (dblclick)="toggleEditMode(pType)">
                    {{pType.name}}
                </span>
            <form name="editForm" #editForm="ngForm">
                <input name="name" [(ngModel)]="pType.name" *ngIf="pType.editMode" minlength="1" required
                       (keydown)="updateOnEnter(pType, $event)" class="form-control"/>
            </form>
        </td>
        <td style="vertical-align: middle">
                <span *ngIf="pType.editMode == null || pType.editMode == false" (dblclick)="toggleEditMode(pType)">
                    {{pType.createdDate}}
                </span>
        </td>
    </tr>
</table>


